body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: #f2f2f2;
}

.app {
    width: 100vw;
    height: calc(100vh - 20px); /* Subtracting 20px for margin */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.controls {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    background-color: #f9d5c8;
    color: #363636;
    padding: 10px;
    border-bottom: 1px solid #d1d1d1;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.controls>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.title {
    font-size: 1.4rem;
    margin-top: 10px;
}

.btn {
    font-size: 1.2rem;
    width: 80%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6db3b2;
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #4d8c8b;
}

.project {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a4b45;
}

canvas {
    background-color: white;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

input {
    font-size: 1.2rem;
    background-color: #eaeaea;
    outline: none;
    border: 0;
    padding: 8px;
    text-align: center;
    color: #324352;
    border-radius: 8px;
}

@media screen and (max-width: 800px) {
    .controls {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        padding: 20px;
    }
}

@media screen and (max-width: 472px) {
    .title {
        font-size: 1.2rem;
        margin-top: 5px;
    }

    .btn {
        font-size: 1rem;
        width: 100%;
    }

    #radius {
        width: 50px;
    }

    #color {
        width: 100%;
    }
}
